<div class="card" *ngIf="data() as d">

    <div class="info">
      <h3>{{ d.firstName }} {{ d.lastName }}</h3>
  
      <p *ngIf="email">Email : {{ email }}</p>
      <p *ngIf="role">Role : {{ role }}</p>
  
      <p *ngIf="birthDate">Date de naissance : {{ birthDate }}</p>
      <p *ngIf="gender">Genre : {{ gender }}</p>
  
      <p>Status :
        <span [class.active]="d.status === 'ACTIF'" [class.inactive]="d.status === 'INACTIF'">
          {{ d.status }}
        </span>
      </p>
    </div>
  
    <div class="actions">
      <button mat-flat-button color="accent" (click)="edit.emit()">
        <mat-icon>edit</mat-icon>&nbsp;Gérer
      </button>
      
      <button mat-flat-button color="warn" (click)="toggle.emit()">
        <mat-icon>autorenew</mat-icon>&nbsp;Activer/Désactiver
      </button>
      
      <button mat-flat-button (click)="goToNotes()">
        <mat-icon>note</mat-icon>
        Notes
      </button>
      
    </div>
  
  </div>
  