<div class="backdrop" (click)="close.emit()"></div>

<div class="actions">
    <button (click)="submit()">Enregistrer</button>
    <button (click)="close.emit()">Annuler</button>
  </div>

<div class="dialog">
  <h2>Modifier l'utilisateur</h2>

  <form *ngIf="form() as f" [formGroup]="f" (ngSubmit)="submit()" (click)="$event.stopPropagation()">
    <input type="text" formControlName="firstName" placeholder="Prénom" />
      <input type="text" formControlName="lastName" placeholder="Nom" />
      <input type="email" formControlName="email" placeholder="Email" />

      <select formControlName="role">
        <option value="USER">Utilisateur</option>
        <option value="ADMIN">Administrateur</option>
        <option value="PENDING">En attente</option>
      </select>

      <div class="actions">
        <button type="submit">💾 Enregistrer</button>
        <button type="button" class="cancel" (click)="close.emit()">Annuler</button>
      </div>
    </form>
</div>
