<div class="container">
<h2>
  Notes du patient : {{ patient()?.firstName }} {{ patient()?.lastName }}
</h2>

<div class="toolbar">
  <button mat-flat-button color="primary" class="add-note-button" (click)="onAddNote()">
    <mat-icon>note_add</mat-icon>
    Ajouter une note
  </button>

  <button mat-flat-button color="accent" class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    Retour
  </button>
</div>

<div class="note-list">
  <app-app-card
    *ngFor="let note of notes()"
    [data]="note"
    (edit)="onEditNote(note)"
    (deleted)="onDeleteNote(note)"
  ></app-app-card>
</div>

</div>