@if (!loading()) {
    <form [formGroup]="form()!" (ngSubmit)="submit()" class="form-container">
      <h2>Modifier le patient</h2>
  
      <label>Prénom</label>
      <input type="text" formControlName="firstName" />
  
      <label>Nom</label>
      <input type="text" formControlName="lastName" />
  
      <label>Date de naissance</label>
      <input type="date" formControlName="birthDate" />
  
      <label>Genre</label>
      <select [formControl]="genderControl">
        <option value="MALE">Homme</option>
        <option value="FEMALE">Femme</option>
      </select>
  
      <label>Adresse</label>
      <input type="text" formControlName="address" />
  
      <label>Téléphone</label>
      <input type="tel" formControlName="phone" />
  
      <div class="buttons">
        <button type="submit" [disabled]="form()!.invalid">Enregistrer</button>
        <button type="button" (click)="cancel()">Annuler</button>
      </div>
    </form>
  } @else {
    <p>Chargement...</p>
  }
  