@if (patient()) {
  <div class="patient-details-card">
    <h2>{{ patient()!.firstName }} {{ patient()!.lastName }}</h2>
    <p><strong>Date de naissance:</strong> {{ patient()!.birthDate | date:'dd/MM/yyyy'}}</p>
    <p><strong>Genre:</strong> {{ translateGender(patient()!.gender) }}</p>
    <p><strong>Adresse :</strong> {{ patient()!.address }}</p>
    <p><strong>Phone :</strong> {{ patient()!.phone }}</p>
    @if (risk()) {
      <p>
        <strong>Risque de diabète :</strong>
        <span class="risk-label {{ risk()?.riskLevel?.toLowerCase() }}">
          {{ getRiskLabel(risk()?.riskLevel ?? '') }}
        </span>
      </p>
    }

    <div class="actions">
      <button (click)="goBack()">⬅️ Retour</button>
      <button (click)="onEditPatient( patient()!)">✏️ Modifier</button>
    </div>
  </div>
} @else {
  <p>Patient inexistant...</p>
}

@if (patientId() !== null) {
  <app-patient-note [patientId]="patientId()" />
}

