@if (patient()) {
  <div class="patient-details-card">
    <h2>{{ patient()!.firstName }} {{ patient()!.lastName }}</h2>
    <p><strong>Date de naissance:</strong> {{ patient()!.birthDate }}</p>
    <p><strong>Genre:</strong> {{ patient()!.gender }}</p>
    <p><strong>Adresse :</strong> {{ patient()!.address }}</p>
    <p><strong>Phone :</strong> {{ patient()!.phone }}</p>

    <div class="actions">
      <button (click)="goBack()">⬅️ Retour</button>
      <button (click)="editPatient()">✏️ Modifier</button>
    </div>
  </div>
} @else {
  <p>Patient inexistant...</p>
}

@if (patientId() !== null) {
  <app-patient-note [patientId]="patientId()" />
}
