<div class="register-container">
  <h2>Inscription à GlucoVision </h2>


<form (ngSubmit)="register()">
  <input
    type="text"
    placeholder="Prénom"
    [value]="firstName()"
    (input)="updateFirstName($event)"
    name="firstName"
    required
  />

  <input
    type="text"
    placeholder="Nom"
    [value]="lastName()"
    (input)="updateLastName($event)"
    name="lastName"
    required
  />

  <input
    type="email"
    placeholder="Email"
    [value]="email()"
    (input)="updateEmail($event)"
    [class.invalid]="invalidEmail()"
    name="email"
    required
  />

  <p class="error" *ngIf="invalidEmail()">Adresse email invalide</p>

  <input
    type="password"
    placeholder="Mot de passe"
    [value]="password()"
    (input)="updatePassword($event)"
    name="password"
    required
  />

  <button type="submit">S’inscrire</button>

  <p class="error" *ngIf="errorMessage()">{{ errorMessage() }}</p>
</form>

<p>Déjà un compte ? <a (click)="goToLogin()" style="cursor: pointer;">Se connecter</a></p>
</div>