html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e3f2ff, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  